<div class="input-group mb-3">
	<input
		type="text"
		class="form-control none-outline"
		placeholder="Project Name"
		aria-label="Project Name"
		aria-describedby="button-addon2"
		[(ngModel)]="projectName"
	/>
	<button
		class="btn btn-outline-secondary none-outline"
		type="button"
		id="button-addon2"
		(click)="onAddProject()"
		[disabled]="!projectName?.trim()"
	>
		Add New Project
	</button>
</div>
<hr />
<div class="container">
	<div class="row">
		<app-iterations
			class="col-4"
			*ngFor="let projectEl of projects; let i = index"
			[project]="projectEl"
			[index]="i"
		></app-iterations>
	</div>
</div>

<!-- [index]="i" -->
